                /* CSS follows rulesets */
                
                body {
                    background-color: slategray;
                    font-family: Calibri, sans-serif;
                }
                
                .nav {
                    background-color: blue;
                }
                
                .menu-options {
                    list-style-type: none;
                }
                
                .nav-link {
                    text-decoration: none;
                    color: whitesmoke;
                }
                
                .nav-link:hover {
                    color: #2980b9;
                }